In [1]:
#continuation of list datatype

In [2]:
#req:print the numbers between 1 to 20 which are only even numbers

In [3]:
#range method
x=list(range(1,20))
print(x)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [ ]:
#general syntax of a range method
range(startvalue,stopvalue,stepcount)

In [4]:
even_numbers=list(range(2,25,2))
print(even_numbers)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24]

In [5]:
#req: odd numbers from 1 to 20

In [6]:
odd_numbers=list(range(3,20,2))

In [7]:
print(odd_numbers)

[3, 5, 7, 9, 11, 13, 15, 17, 19]

In [ ]:
#Inroduction to tuple datatype
 An immutable list is called as an tuple.
# how to define a tuple.....()braces

In [8]:
dimensions=(200,50)
print(dimensions)

(200, 50)

In [9]:
type(dimensions)

tuple

In [10]:
#req: 200---> 250

In [11]:
dimensions[0]=250

TypeError: 'tuple' object does not support item assignment

In [12]:
print(dimensions[0])

200

In [13]:
dimensions=(250,50)
print(dimensions)

(250, 50)

In [14]:
students=['bhavani','vinay','karthik','ruddhi','akshada','sai']
tuple(students)

('bhavani', 'vinay', 'karthik', 'ruddhi', 'akshada', 'sai')

In [15]:
for x in students:
    print(x)

bhavani
vinay
karthik
ruddhi
akshada
sai

In [16]:
print(x.title())

Sai

In [17]:
for x in students:
    print(x.title)

<built-in method title of str object at 0x0000024E46E91070>
<built-in method title of str object at 0x0000024E46E910B0>
<built-in method title of str object at 0x0000024E46E91030>
<built-in method title of str object at 0x0000024E46E910F0>
<built-in method title of str object at 0x0000024E46E91230>
<built-in method title of str object at 0x0000024E46E912B0>

In [18]:
tuple(students)

('bhavani', 'vinay', 'karthik', 'ruddhi', 'akshada', 'sai')

In [19]:
for x in students:
    print(x)

bhavani
vinay
karthik
ruddhi
akshada
sai

In [20]:
for x in students:
    print(x.title())

Bhavani
Vinay
Karthik
Ruddhi
Akshada
Sai